@font-face {
  font-family: Orbitron;
  src: url("Orbitron-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Orbitron;
  scroll-behavior: smooth;
  color: rgb(224, 224, 224)
}

body {
  background-image: url("./images/background.png");
}

/* LINKS*/
a:link,
a:visited {
  color: orange;
  text-decoration: none;
}

a:hover,
a:active {
  color: orangered;
  text-decoration: underline;
}

/* LISTS */
.panel > div > ul,
ol {
  margin-left: 4vh;
}

ol {
  counter-reset: item;
}

ol > li {
  display: block;
}

ol > li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

/* HEADER */
.header-title {
  padding: 20px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 4px 4px 8px black;
}

/* SECTIONS */
.panel {
    /* width: 50%; */
    width: 960px;
    background-image: url("panel.svg");
    padding: 20px;
    border: 2px solid black;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("panel.svg");
}

img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

/* Scroll to top */
.scroll_to_top {
  position: fixed;
}

.scroll_to_top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2vh;
  right: 3vh;
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none; /* Remove outline */
  background-color: rgb(61, 61, 61);
  color: white;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1.5vh;
  border-radius: 1vh;
  font-size: 1.4em;
  font-weight: bolder;
}

.scroll_to_top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
